<div id="<%= dom_id movie %>">
  <p>
    <strong>Name:</strong>
    <%= movie.name %>
  </p>

  <p>
    <strong>Synopsis:</strong>
    <%= movie.synopsis %>
  </p>

  <p>
    <strong>Director:</strong>
    <%= movie.director %>
  </p>

</div>
