<div id="<%= dom_id serie %>">
  <p>
    <strong>Name:</strong>
    <%= serie.name %>
  </p>

  <p>
    <strong>Synopsis:</strong>
    <%= serie.synopsis %>
  </p>

  <p>
    <strong>Director:</strong>
    <%= serie.director %>
  </p>

</div>
