<p style="color: green"><%= notice %></p>

<h1>Series</h1>

<div id="series">
  <% @series.each do |series| %>
    <%= render series %>
    <p>
      <%= link_to "Show this serie", series %>
    </p>
  <% end %>
</div>

<%= link_to "New serie", new_series_path %>
